body {
    color: #333;
    min-height: 100%;
    overflow-x: hidden;
    background: #edf0f2;
}
textarea {
    overflow: auto;
    vertical-align: top;
    width: 100%;
}
.main_header{
    position: fixed;
    top: 0px;
    width: 100%;
    height:60px;
    font-weight: bold;
    background: #fff url("./top_banner.jpg")repeat-x top;
    background-size: 240px;
    color:#2c3e50;
    border-bottom: solid 1px #aaa;
    z-index: 1;
}
.wy-nav-content {
    padding: 1.618em 3.236em;
    height: 100%;
    max-width: 1200px;
    margin: auto
}
h1,
h2,
h3,
h4,
h5,
h6,
legend {
    margin-top: 0;
    font-weight: 700;
    font-weight: bold;
    color: #222222;
}
.fa,
.rst-content .admonition-title,
.rst-content h1 .headerlink,
.rst-content h2 .headerlink,
.rst-content h3 .headerlink,
.rst-content h4 .headerlink,
.rst-content h5 .headerlink,
.rst-content h6 .headerlink,
.rst-content dl dt .headerlink,
.icon {
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
a {
    color: #18bc9c;
    text-decoration: none
}
a:hover {
    color: #03755f
}
.wy-side-nav-search input[type=text] {
    width: 100%;
    border-radius: 50px;
    padding: 6px 12px;
    border-color: #009276
}
.wy-side-nav-search {
    z-index: 200;
    background-color: #18bc9c;
    text-align: center;
    padding: 0.809em;
    display: block;
    color: #fcfcfc;
    margin-bottom: 0.809em
}
.wy-nav-top {
    background-color: #18bc9c;
}
.wy-grid-for-nav {
    z-index: 0;
}
.wy-menu-vertical > p.caption {
    padding-left: 10px;
    color: #03755f;
}
.wy-table thead th, .rst-content table.docutils thead th, .rst-content table.field-list thead th {
    background-color: rgba(24, 188, 156, 0.28);
}
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}
.rst-content .section ol p, .rst-content .section ul p {
    margin-bottom: 3px;
}
span.hljs-comment {
    color: #6f99c3;
    font-style: normal;
    font-weight: bold;
}
